/* You can add global styles to this file, and also import other style files */
@import 'styles/tree-configuartion.scss';
@import '~ng-tournament-tree/styles/ngtt-styles';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 2.5% 12.5%;
}
